In [1]:
%load_ext lab_black

In [2]:
import functions as myFunc

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [3]:
pd.set_option("float_format", "{:.2f}".format)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [4]:
df = pd.read_csv(
    r"C:\Users\jonyt\Python\3 module\sprint 2\project\healthcare-dataset-stroke-data.csv"
)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.00,0,1,Yes,Private,Urban,228.69,36.60,formerly smoked,1
1,51676,Female,61.00,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.00,0,1,Yes,Private,Rural,105.92,32.50,never smoked,1
3,60182,Female,49.00,0,0,Yes,Private,Urban,171.23,34.40,smokes,1
4,1665,Female,79.00,1,0,Yes,Self-employed,Rural,174.12,24.00,never smoked,1

In [5]:
df.shape

(5110, 12)

In [6]:
from pycaret.classification import *

In [7]:
clf1 = setup(
    data=df, target="stroke", polynomial_features=True, fix_imbalance=True, n_jobs=1
)

In [8]:
# Engineerd features TRAINING set
X_train_engineerd = get_config("X_train_transformed")
y_train_engineerd = get_config("y_train")
X_train_engineerd.shape, y_train_engineerd.shape

((6806, 230), (3577,))

In [9]:
# Engineerd features TESTING set
X_test_engineerd = get_config("X_test_transformed")
y_test_engineerd = get_config("y_test")
X_test_engineerd.shape, y_test_engineerd.shape

((1533, 230), (1533,))

In [10]:
y_train_engineerd.value_counts()

0    3403
1     174
Name: stroke, dtype: int64

Possible variables are: ['idx', 'pipeline', 'test', 'logging_param', 'X_train', 'fold_generator', 'dataset_transformed', 'target_param', '_available_plots', 'X_test', 'gpu_param', 'data', 'fold_shuffle_param', 'y_train_transformed', 'X_transformed', 'y_train', 'fold_groups_param', 'train', 'memory', 'y_transformed', 'y', 'X_train_transformed', 'test_transformed', 'exp_name_log', 'n_jobs_param', 'variable_and_property_keys', 'variables', 'fix_imbalance', 'dataset', 'is_multiclass', 'seed', 'X', 'train_transformed', 'y_test_transformed', 'exp_id', 'log_plots_param', 'gpu_n_jobs_param', 'X_test_transformed', 'y_test', 'USI', 'html_param', '_ml_usecase']

In [11]:
best_model = compare_models(sort="F1", fold=5, errors="raise")

Initiated  . . . . . . . . . . . . . . . . . .             22:02:09
Status     . . . . . . . . . . . . . . . . . .    Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

Additional conclusion:

using automated feature engineering with PyCaret results are nearly the same.